/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* global styles
------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main {
  max-width: 1500px;
  margin: 0 auto;
}
.wrap {
  background: rgba(249, 239, 252, 0.5);
  margin: 5px;
  height: 98vh;
  font-family: 'Playfair+Display', serif;
  font-weight: 100;
  border: 2px solid black;
  color: rgba(130, 130, 130, 1);
}

/* title
------------------------------------- */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  letter-spacing: 0.07em;
  padding: 25px 0;
  text-align: center;
  text-transform: lowercase;
  /* height: 17vh; */

  position: relative;
}
h1:after {
  content: "";
  width: 100px;
  height: 2px;
  background: black;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

/* main
------------------------------------- */
ol {
  width: 260px;
  margin: 0 auto;
  padding-left: 20px;
}
ol li {
  text-align: left;
  margin-bottom: 10px;
  font-size: 11px;
}
#message {
  text-align: center;
  color: gold;
  font-weight: 400;
  font-size: 30px;
  padding: 5px;
}
section {
  height: 40vh;
}
.score {
  display: flex;
  width: 260px;
  margin: 20px auto;
}
.targetScore, .yourScore {
  width: 50%;
  text-align: center;
}
.targetScore p, .yourScore p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-transform: lowercase;
  margin-bottom: 20px;
  position: relative;
}
.targetScore p:after, .yourScore p:after {
    content: "";
    width: 60px;
    height: 2px;
    background: black;
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
}
#targetScore, #yourScore {
  font-size: 25px;
  font-weight: 400;
  color: black;


  height: 35px;
  width: 35px;
  display: inline-block;
  border-radius: 20px;
}  

/* crystals
------------------------------------- */
.crystals {
  width: 260px;
  margin: 0 auto;
}
.button {
  border: 0;
  background: none;
  padding: 0 5px;
}
.crystal {
  width: 50px;
  height: 50px;
}

/* wins and losses
------------------------------------- */
.result {
  display: flex;
  width: 260px;
  margin: 23px auto;
}
.wins, .losses {
  width: 50%;
  text-align: center;
}
.wins p, .losses p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-transform: lowercase;
  margin-bottom: 10px;
  position: relative;
}
.wins p:after, .losses p:after {
  content: "";
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
#wins, #losses {
  font-size: 20px;
  color: black;
  font-weight: 400;
}

/* for wider screen size
------------------------------------- */
@media screen and (min-width: 600px) {
  ol {
    width: 420px;
    margin: 10px auto;
  }
  ol li {
    font-size: 15px;
  }
  h1 {
    font-size: 45px;
    padding: 30px 0 35px;
  }
  h1:after {
    width: 150px;
    height: 3px;
    top: 90px;
  }
  .crystals {
    width: 380px;
    margin: 20px auto;
  }
  .crystal {
    width: 80px;
    height: 80px;
  }
}


